.payment-container {
  max-width: 600px;
  margin: 40px auto;
  background-color: #1e1e1e;
  padding: 30px;
  border-radius: 8px;
  box-shadow: 0 2px 8px rgba(0, 0, 0, 0.7);
  color: #fff;
}

.payment-container h2 {
  text-align: center;
  margin-bottom: 20px;
  font-size: 2rem;
}

.payment-details {
  font-weight: 400;
  margin-bottom: 20px;
  line-height: 1.5;
}

.bold-font {
  font-weight: 500;
  color: white;
}

.payment-details p {
  margin-bottom: 10px;
  font-size: 1.1rem;
  color: #e6e6e6;
}

.payment-btn {
  font-family: 'Gordita', sans-serif;
  font-weight: 600;
  display: block;
  width: 100%;
  padding: 12px;
  background-color: #b6141c;
  border: none;
  border-radius: 4px;
  color: #fff;
  font-size: 1.2rem;
  transition: background-color 0.3s ease;
}

.payment-btn:hover {
  background-color: #880f15;
}
