.seat-grid {
  max-width: 800px;
  margin: 20px auto;
  padding: 20px;
  background: #1d1d1d;
  border-radius: 12px;
  box-shadow: 0 6px 12px rgba(0, 0, 0, 0.6);
}

.seat-row {
  display: flex;
  align-items: center;
  margin-bottom: 15px;
}

.row-label {
  text-shadow: 2px 3px 5px rgba(0, 0, 0, 0.822);
  width: 60px;
  font-weight: bold;
  color: #ccc;
  text-align: center;
  margin-right: 10px;
  font-weight: 500;
  font-size: 0.9rem;
}

.large-rows {
  margin-left: 8%;
  display: flex;
  gap: 10px;
  flex-wrap: wrap;
}

.small-rows {
  margin-left: 14.5%;
  display: flex;
  gap: 10px;
  flex-wrap: wrap;
}

.seat {
  font-size: 0.8rem;
  padding: 2px;
  background: #2e2e2e;
  border-radius: 20px 20px 0 0;
  text-align: center;
  cursor: pointer;
  transition: background 0.3s ease, border 0.3s ease, transform 0.2s ease;
  color: #fff;
  font-weight: 400;
  min-width: 40px;
  box-shadow: 0px 3px 2px rgba(0, 0, 0, 0.137);
  position: relative;
  border-bottom: 4px solid #202020;
}

.seat::before {
  content: "";
  position: absolute;
  top: 0px;
  left: 0px;
  width: 7px;
  height: 24.5px;
  background-color: #292929;
  border-radius: 10px 10px 0 0;
  transition: background 0.3s ease;
  box-shadow: 2px 0px 3px rgba(0, 0, 0, 0.295);
}

.seat::after {
  content: "";
  position: absolute;
  top: 0px;
  left: 37px;
  width: 7px;
  height: 24.5px;
  background-color: #292929;
  border-radius: 10px 10px 0 0;
  transition: background 0.3s ease;
  box-shadow: -2px 0px 3px rgba(0, 0, 0, 0.295);
} 

.seat:hover {
  background: #575757;
  transform: scale(1.05);
}

.seat.booked {
  border-bottom: 4px solid #aa3838; 
  background: #ff4d4d;
  cursor: not-allowed;
}

.seat.booked::after {
  background-color: #c94343;
}

.seat.booked::before {
  background-color: #c94343;
}

.seat.selected {
  border-bottom: 4px solid #526c92; 
  background: #80b3ff;
  transform: scale(1.05);
}

.seat.selected::after {
  background-color: #6a90c9;
}

.seat.selected::before {
  background-color: #6a90c9;
}

.header-seats {
  text-align: center;
  color: #fff;
  font-size: 1.5rem;
  font-weight: bold;
  text-transform: uppercase;
}

.screen-header {
  text-align: center;
  color: #bdbdbd;
  font-size: 1.2rem;
  font-weight: 700;
  text-transform: uppercase;
}

.line-header {
  border: 2px solid rgb(189, 189, 189);
  border-radius: 50%;
  margin: auto;
  margin-top: 10px;
  width: 70%;
  text-align: center;
  color: #bdbdbd;
  font-size: 1.2rem;
  font-weight: bold;
  margin-bottom: 70px;
  box-shadow: 0px 5px 15px rgb(230, 230, 230);
}

.continue-btn {
  display: block;
  max-width: 600px;
  margin: 30px auto;
  padding: 12px 0;
  background: linear-gradient(45deg, #1db954, #1ed760);
  border: none;
  border-radius: 30px;
  color: #fff;
  font-size: 1.1rem;
  font-weight: bold;
  text-transform: uppercase;
  cursor: pointer;
  transition: background 0.3s ease, transform 0.2s ease;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.3);
  padding-left: 30px;
  padding-right: 30px;
}

.continue-btn:hover {
  background: linear-gradient(45deg, #1ed760, #1db954);
  transform: translateY(-2px);
}

.continue-btn:disabled {
  background: #555;
  cursor: not-allowed;
  box-shadow: none;
}
